.subtitle {
    font-size: 80%;
    margin-top: 10px;
    margin-left: 5px;
    font-style: italic;
}

td > :first-child {
    margin-top: 0;
}

h4 {
    margin-top: 0.4rem !important;
}

input, button, select, textarea {
    border-radius: 0.5em;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
}

input[type=text] {
    width: 25em;
}


.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#charts {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart {
    margin-bottom: -6em;
    overflow: hidden;
}

.chart > div:first-child {
    position: relative;
    top: -2rem;
}

.chart-headline {
    font-size: 0.8rem!important;
    text-align: center!important;
    font-weight: bold!important;
    color: black!important;
}

.sbom-img {
    width: 1.5rem;
}

#container-registry-credentials input {
    width: 10em;
}

#container-registry-credentials > div:not(:first-child) {
    margin-top: 0.5rem;
}

#error-page .card {
    background: none;
    border: none;
    box-shadow: none;
    text-align: center;
}

.error-text {
    color: rgb(106, 122, 129)!important;
    font-size: 2rem !important;
    font-weight: 100 !important;
}

.cf-compatibility-cell {
    text-align:center!important
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip svg {
    width: 2em;
    fill: rgb(0, 121, 173);
    margin-bottom: -0.5em;
}

.tooltiptext {
    font-weight: normal!important;
    font-size: 0.7rem!important;
    line-height: 1.0rem!important;
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    z-index: 9999;
    bottom: 100%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.right-border .tooltiptext {
    left: 75%;
    margin-left: -225px;
}

.right-border .tooltiptext::after {
    left: 75%;
    margin-left: -10px;
}

.clr-checkbox-wrapper .clr-control-label {
    font-weight: bold;
}

.helm-column {
    width: 54px;
}

.pvcs-column {
    width: 54px;
}

.compatibility-column {
    width: 54px;
}

.classification-column {
    width: 100px
}

.table-wrapper {
    padding: 0!important;
}

#workloads-table {
    text-align: center!important;
}

#workloads-table td,
#workloads-table th {
    vertical-align: middle!important;
}

.classification-table td {
    padding: 0.20rem 0.6rem !important;
}

.bold td {
    font-weight: bold!important;
}

.card-row {
    align-items: center;
}

#home .clr-col {
    max-width: 40rem!important;
}