<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@clr/ui@16.3.7/clr-ui.min.css" />
    <link th:href="@{/custom.css}" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://unpkg.com/htmx.org@2.0.3"></script>
</head>

<body>
<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a class="nav-link" th:href="@{/}">
                <span class="title">Kubernetes Cluster Explorer</span>
            </a>
        </div>
        <div class="header-nav">
            <a th:href="@{/}" class="nav-link">
                <span class="nav-text">Home</span>
            </a>
        </div>
    </header>
    <div class="content-container" hx:get="@{/analysis/{id}(id=${analysis.id})}" hx-trigger="every 2s">
        <div class="content-area" th:fragment="analysisResult">
            <div class="clr-row">
                <div class="clr-col">
                    <div class="card">
                        <div class="card-block">
                            <div th:if="${analysis != null}">
                                <h1 th:text="${'Analysis for context ' + analysis.kubernetesContext  }"></h1>
                                <h4 th:text="${'Analysis ID: ' + analysis.id}"></h4>
                                <h4 th:text="${'Scan started at ' + #temporals.format(analysis.createdAt, 'dd-MM-yyyy HH:mm')}"></h4>
                                <h4 th:text="|Status: ${analysis.status} ${analysis.pendingCount > 0 ? '(' + analysis.pendingCount + ')' : ''}|"></h4>

                                <div id="charts">
                                    <div>
                                        <p class="chart-headline">Detected Container Categories</p>
                                        <div id="container-category-chart"></div>
                                    </div>
                                </div>


                                <table class="table" id="workloads-table">
                                    <thead>
                                    <tr>
                                        <th>Namespace</th>
                                        <th>Name</th>
                                        <th>StatefulSet</th>
                                        <th class="helm-column">Helm</th>
                                        <th class="pvcs-column">PVCs</th>
                                        <th class="images-column">Images</th>
                                        <th class="classification-column">Classification</th>
                                        <th class="category-column">Category</th>
                                        <th class="software-column">Software</th>
                                        <!--<th>CVEs</th>-->
                                        <th class="compatibility-column">Compatibility<br/>with Cloud Foundry</th>
                                    </tr>
                                    </thead>
                                    <tbody th:each="workload : ${analysis.workloads}" th:remove="tag">
                                    <tr>
                                        <td th:text="${workload.namespace}">Namespace</td>
                                        <td th:text="${workload.name}">Name</td>
                                        <td th:text="${#strings.equals(workload.type, 'STATEFUL_SET')} ? 'Yes' : 'No'">Type</td>
                                        <td th:text="${workload.hasPvc} ? 'Yes' : 'No'">PVC</td>
                                        <td th:text="${workload.managedByHelm} ? 'Yes' : 'No'">Helm</td>
                                        <td colspan="4" class="table-wrapper">
                                            <table class="nested-table">
                                                <tbody th:each="container : ${workload.containers}" th:remove="tag">
                                                <tr>
                                                    <td class="images-column">
                                                        <span th:text="${container.image}">Container image</span>
                                                        <a th:href="@{/analysis/{id}/workloads/{workloadId}/containers/{containerId}/sbom(id=${analysis.id},workloadId=${workload.id},containerId=${container.id})}"
                                                           th:target="_blank" th:if="${container.sBom != null}">
                                                            <img th:src="@{/images/sbom.png}" class="sbom-img" alt="SBOM Download">
                                                        </a>
                                                    </td>
                                                    <td class="classification-column">
                                                        <span th:text="${container.status}">Classification status</span>
                                                        <span th:if="${container.errorMessage != null}" class="tooltip"><svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><circle cx="17.93" cy="11.9" r="1.4"></circle><path d="M21,23H19V15H16a1,1,0,0,0,0,2h1v6H15a1,1,0,1,0,0,2h6a1,1,0,0,0,0-2Z"></path><path d="M18,6A12,12,0,1,0,30,18,12,12,0,0,0,18,6Zm0,22A10,10,0,1,1,28,18,10,10,0,0,1,18,28Z"></path></svg>
                                                            <span class="tooltiptext" th:text="${container.errorMessage}">Error message</span>
                                                        </span>
                                                    </td>
                                                    <td colspan="2" class="table-wrapper">
                                                        <table class="nested-table classification-table">
                                                            <tbody th:each="classification : ${container.classifications}" th:remove="tag">
                                                            <tr>
                                                                <td class="category-column" th:text="${classification.type} + ' - ' + ${classification.subType}">Container image category</td>
                                                                <td class="software-column">
                                                                    <span th:text="${classification.technology} + ' ' + (${classification.technologyVersion} ?: '')" th:if="${classification.technology != null}">Classification technology</span>
                                                                    <span th:if="${classification.notes != null}" class="tooltip"><svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><circle cx="17.93" cy="11.9" r="1.4"></circle><path d="M21,23H19V15H16a1,1,0,0,0,0,2h1v6H15a1,1,0,1,0,0,2h6a1,1,0,0,0,0-2Z"></path><path d="M18,6A12,12,0,1,0,30,18,12,12,0,0,0,18,6Zm0,22A10,10,0,1,1,28,18,10,10,0,0,1,18,28Z"></path></svg>
                                                                        <span class="tooltiptext" th:text="${classification.notes}">Notes</span>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <!--
                                                    <td>
                                                        <div th:if="${container.totalCveCount != null && container.totalCveCount > 0}"  th:text="${'Total ' + container.totalCveCount + ' (CRITICAL: ' + container.criticalCveCount + ', HIGH: ' + container.highCveCount + ')'}">Container CVE Count</div>
                                                    </td>
                                                    -->

                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="cf-compatibility-cell">
                                            <div th:each="container : ${workload.containers}" th:remove="tag">
                                                <div th:each="classification : ${container.classifications}" th:remove="tag">
                                                    <a th:href="${classification.documentation}" th:target="_blank">
                                                        <div th:text="${classification.fit}">CF fit</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <script type="text/javascript" th:inline="javascript">

                                // Load the Visualization API and the corechart package.
                                google.charts.load('current', {'packages':['corechart']});

                                // Set a callback to run when the Google Visualization API is loaded.
                                google.charts.setOnLoadCallback(drawChart);

                                // Callback that creates and populates a data table,
                                // instantiates the pie chart, passes in the data and
                                // draws it.
                                function drawChart() {

                                    // Create the data table.
                                    var data = new google.visualization.DataTable();
                                    data.addColumn('string', 'Category');
                                    data.addColumn('number', 'Containers');
                                    data.addRows([[${containerCategoriesChartData}]]);

                                    // Set chart options
                                    var options = {
                                        'width':500,
                                        'height':500,
                                        'legend': 'none',
                                        'pieSliceText': 'label',
                                        'backgroundColor': 'transparent'
                                    };

                                    // Instantiate and draw our chart, passing in some options.
                                    var chart = new google.visualization.PieChart(document.getElementById('container-category-chart'));
                                    chart.draw(data, options);
                                }
                            </script>
                            <script type="text/javascript" th:inline="javascript">
                                function adjustColumnsWithClass(cssClass) {
                                    const imageColumns = document.querySelectorAll(cssClass);
                                    const maxWidth = Math.max(...Array.from(imageColumns).map(c => c.offsetWidth));
                                    imageColumns.forEach(c => c.style.width = `${maxWidth}px`);
                                }

                                function adjustTable() {
                                    adjustColumnsWithClass(".images-column");
                                    adjustColumnsWithClass(".software-column");
                                    adjustColumnsWithClass(".category-column");
                                }

                                adjustTable();
                                window.addEventListener("resize", adjustTable);

                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>