<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@clr/ui@16.3.7/clr-ui.min.css" />
    <link th:href="@{/custom.css}" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://unpkg.com/htmx.org@2.0.3"></script>
</head>

<body>
<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a class="nav-link" th:href="@{/}">
                <span class="title">Kubernetes Cluster Explorer</span>
            </a>
        </div>
        <div class="header-nav">
            <a th:href="@{/}" class="nav-link">
                <span class="nav-text">Home</span>
            </a>
        </div>
    </header>
    <div class="content-container" hx:get="@{/analysis/{id}(id=${analysis.id})}" hx-trigger="every 5s">
        <div id="analysis-content" class="content-area" th:fragment="analysisResult">
            <div class="clr-row">
                <div class="clr-col">
                    <div class="card">
                        <div class="card-block">
                            <div th:if="${analysis != null}">
                                <h1 th:text="${'Analysis for context ' + analysis.kubernetesContext  }"></h1>
                                <h4 th:text="${'Analysis ID: ' + analysis.id}"></h4>
                                <h4 th:text="${'Scan started at ' + #temporals.format(analysis.createdAt, 'dd-MM-yyyy HH:mm')}"></h4>
                                <h4 th:text="|Status: ${analysis.status} ${analysis.pendingCount > 0 ? '(' + analysis.pendingCount + ')' : ''}|"></h4>
                                <h4>
                                    <span th:text="|Failed: ${analysis.failedCount}|"></span>
                                    <span class="tooltip"><svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><circle cx="17.93" cy="11.9" r="1.4"></circle><path d="M21,23H19V15H16a1,1,0,0,0,0,2h1v6H15a1,1,0,1,0,0,2h6a1,1,0,0,0,0-2Z"></path><path d="M18,6A12,12,0,1,0,30,18,12,12,0,0,0,18,6Zm0,22A10,10,0,1,1,28,18,10,10,0,0,1,18,28Z"></path></svg>
                                        <span class="tooltiptext">The classification of containers can fail for various reasons, such as missing registry credentials or the registry being unreachable from the environment this analyzer is running on.</span>
                                    </span>
                                </h4>

                                <div id="charts">
                                    <div>
                                        <p class="chart-headline">Detected Programming Languages</p>
                                        <div class="chart" id="container-programming-languages-chart"></div>
                                    </div>
                                    <div>
                                        <p class="chart-headline">Detected Container Categories</p>
                                        <div class="chart" id="container-category-chart"></div>
                                    </div>
                                    <div>
                                        <p class="chart-headline">Estimated Cloud Foundry Compatibility</p>
                                        <div class="chart" id="container-compatibility-chart"></div>
                                    </div>
                                </div>


                                <table class="table" id="workloads-table">
                                    <thead>
                                    <tr>
                                        <th>Namespace</th>
                                        <th>Name</th>
                                        <th>StatefulSet<br/>
                                            <span id="stateful-tooltip" class="tooltip"><svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><circle cx="17.93" cy="11.9" r="1.4"></circle><path d="M21,23H19V15H16a1,1,0,0,0,0,2h1v6H15a1,1,0,1,0,0,2h6a1,1,0,0,0,0-2Z"></path><path d="M18,6A12,12,0,1,0,30,18,12,12,0,0,0,18,6Zm0,22A10,10,0,1,1,28,18,10,10,0,0,1,18,28Z"></path></svg>
                                                <span class="tooltiptext">If a workload is deployed as a StatefulSet instead of a Deployment, it could be an indication (especially if PVCs are configured) that it's a stateful application like a database and, therefore, not a good candidate to be run on CloudFoundry if not available in the CF marketplace.</span>
                                            </span>
                                        </th>
                                        <th class="helm-column">Helm<br/>
                                            <span id="helm-tooltip" class="tooltip"><svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><circle cx="17.93" cy="11.9" r="1.4"></circle><path d="M21,23H19V15H16a1,1,0,0,0,0,2h1v6H15a1,1,0,1,0,0,2h6a1,1,0,0,0,0-2Z"></path><path d="M18,6A12,12,0,1,0,30,18,12,12,0,0,0,18,6Zm0,22A10,10,0,1,1,28,18,10,10,0,0,1,18,28Z"></path></svg>
                                                <span class="tooltiptext">If workloads are managed by Helm, it could be an indication that it is a COTS application.</span>
                                            </span>
                                        </th>
                                        <th class="pvcs-column">PVCs<br/>
                                            <span id="pvc-tooltip" class="tooltip"><svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><circle cx="17.93" cy="11.9" r="1.4"></circle><path d="M21,23H19V15H16a1,1,0,0,0,0,2h1v6H15a1,1,0,1,0,0,2h6a1,1,0,0,0,0-2Z"></path><path d="M18,6A12,12,0,1,0,30,18,12,12,0,0,0,18,6Zm0,22A10,10,0,1,1,28,18,10,10,0,0,1,18,28Z"></path></svg>
                                                <span class="tooltiptext">Persistent Volume Claims can be an indication that the workload is a stateful application like a database and, therefore, not a good candidate to be run on CloudFoundry if not available in the CF marketplace.</span>
                                            </span>
                                        </th>
                                        <th class="images-column">Images</th>
                                        <th class="classification-column">Classification<br/>
                                            <span id="classification-tooltip" class="tooltip"><svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><circle cx="17.93" cy="11.9" r="1.4"></circle><path d="M21,23H19V15H16a1,1,0,0,0,0,2h1v6H15a1,1,0,1,0,0,2h6a1,1,0,0,0,0-2Z"></path><path d="M18,6A12,12,0,1,0,30,18,12,12,0,0,0,18,6Zm0,22A10,10,0,1,1,28,18,10,10,0,0,1,18,28Z"></path></svg>
                                                <span class="tooltiptext">The classification status of the workload can be either "Pending", "Failed" or "Completed". If a classification was not possible based on the available information, the status is "Completed". A failed status only indicates that something did not work as expected, for example, due to invalid or missing registry credentials.</span>
                                            </span>
                                        </th>
                                        <th class="category-column">Category</th>
                                        <th class="software-column">Software</th>
                                        <!--<th>CVEs</th>-->
                                        <th class="compatibility-column">Compatibility<br/>with Cloud Foundry<br/>
                                            <span id="compatibility-column-tooltip" class="tooltip right-border"><svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><circle cx="17.93" cy="11.9" r="1.4"></circle><path d="M21,23H19V15H16a1,1,0,0,0,0,2h1v6H15a1,1,0,1,0,0,2h6a1,1,0,0,0,0-2Z"></path><path d="M18,6A12,12,0,1,0,30,18,12,12,0,0,0,18,6Zm0,22A10,10,0,1,1,28,18,10,10,0,0,1,18,28Z"></path></svg>
                                                <span class="tooltiptext"><b>Levels of compatibility</b>:<br />
                                                    <ul>
                                                      <li><b>High</b>: CF provides first-class support for the technology either via <a href="https://docs.vmware.com/en/VMware-Tanzu-Application-Service/6.0/tas-for-vms/buildpacks-index.html" target="_blank">Buildpacks</a> or a backing services available in the marketplace.</li>
                                                      <li><b>Medium</b>: CF provides an alternative backing service in the marketplace.</li>
                                                      <li><b>Low</b>: CF doesn't provide first-class support for the technology</li>
                                                      <li><b>Not relevant</b>: Workloads that, for example, provide functionality for Kubernetes.</li>
                                                      <li><b>Unknown</b>: It was not possible to calculate the level of compatibility.</li>
                                                    </ul>
                                                </span>
                                            </span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody th:each="workload : ${analysis.workloads}" th:remove="tag">
                                    <tr>
                                        <td th:text="${workload.namespace}">Namespace</td>
                                        <td th:text="${workload.name}">Name</td>
                                        <td th:text="${#strings.equals(workload.type, 'STATEFUL_SET')} ? 'Yes' : 'No'">Type</td>
                                        <td th:text="${workload.hasPvc} ? 'Yes' : 'No'">PVC</td>
                                        <td th:text="${workload.managedByHelm} ? 'Yes' : 'No'">Helm</td>
                                        <td colspan="4" class="table-wrapper">
                                            <table class="nested-table">
                                                <tbody th:each="container : ${workload.containers}" th:remove="tag">
                                                <tr>
                                                    <td class="images-column">
                                                        <span th:text="${container.image}">Container image</span>
                                                        <a th:href="@{/analysis/{id}/workloads/{workloadId}/containers/{containerId}/sbom(id=${analysis.id},workloadId=${workload.id},containerId=${container.id})}"
                                                           th:target="_blank" th:if="${container.sBom != null}">
                                                            <img th:src="@{/images/sbom.png}" class="sbom-img" alt="SBOM Download">
                                                        </a>
                                                    </td>
                                                    <td class="classification-column">
                                                        <span th:text="${container.status}">Classification status</span>
                                                        <span th:if="${container.errorMessage != null}" class="tooltip"><svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><circle cx="17.93" cy="11.9" r="1.4"></circle><path d="M21,23H19V15H16a1,1,0,0,0,0,2h1v6H15a1,1,0,1,0,0,2h6a1,1,0,0,0,0-2Z"></path><path d="M18,6A12,12,0,1,0,30,18,12,12,0,0,0,18,6Zm0,22A10,10,0,1,1,28,18,10,10,0,0,1,18,28Z"></path></svg>
                                                            <span class="tooltiptext" th:text="${container.errorMessage}">Error message</span>
                                                        </span>
                                                    </td>
                                                    <td colspan="2" class="table-wrapper">
                                                        <table class="nested-table classification-table">
                                                            <tbody th:each="classification : ${container.classifications}" th:remove="tag">
                                                            <tr th:class="${#strings.equals(classification.type, 'Programming Language') ? 'bold' : ''}">
                                                                <td class="category-column">
                                                                    <a th:href="${classification.documentation}"  th:target="_blank" th:if="${!#strings.isEmpty(classification.documentation)}">
                                                                        <span th:text="${classification.type} + ' - ' + ${classification.subType}">Container image category</span>
                                                                    </a>
                                                                    <span th:text="${classification.type} + ' - ' + ${classification.subType}" th:if="${#strings.isEmpty(classification.documentation)}">Container image category</span>
                                                                </td>
                                                                <td class="software-column">
                                                                    <a th:href="${classification.documentation}"  th:target="_blank" th:if="${!#strings.isEmpty(classification.documentation)}">
                                                                        <span th:text="${classification.technology} + ' ' + (${classification.technologyVersion} ?: '')" th:if="${classification.technology != null}">Classification technology</span>
                                                                    </a>
                                                                    <span th:text="${classification.technology} + ' ' + (${classification.technologyVersion} ?: '')" th:if="${classification.technology != null && #strings.isEmpty(classification.documentation)}">Classification technology</span>
                                                                    <span th:if="${classification.notes != null}" class="tooltip"><svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><circle cx="17.93" cy="11.9" r="1.4"></circle><path d="M21,23H19V15H16a1,1,0,0,0,0,2h1v6H15a1,1,0,1,0,0,2h6a1,1,0,0,0,0-2Z"></path><path d="M18,6A12,12,0,1,0,30,18,12,12,0,0,0,18,6Zm0,22A10,10,0,1,1,28,18,10,10,0,0,1,18,28Z"></path></svg>
                                                                        <span class="tooltiptext" th:text="${classification.notes}">Notes</span>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <!--
                                                    <td>
                                                        <div th:if="${container.totalCveCount != null && container.totalCveCount > 0}"  th:text="${'Total ' + container.totalCveCount + ' (CRITICAL: ' + container.criticalCveCount + ', HIGH: ' + container.highCveCount + ')'}">Container CVE Count</div>
                                                    </td>
                                                    -->

                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="cf-compatibility-cell">
                                            <div th:text="${workload.getCompatibility()}">CF fit</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <script type="text/javascript" th:inline="javascript">

                                // Load the Visualization API and the corechart package.
                                google.charts.load('current', {'packages':['corechart']});

                                // Set a callback to run when the Google Visualization API is loaded.
                                google.charts.setOnLoadCallback(drawChart);

                                // Callback that creates and populates a data table,
                                // instantiates the pie chart, passes in the data and
                                // draws it.
                                function drawChart() {

                                    var options = {
                                        'width':500,
                                        'height':500,
                                        'legend': 'none',
                                        'pieSliceText': 'label',
                                        'backgroundColor': 'transparent'
                                    };

                                    var containerProgrammingLanguagesChartData = new google.visualization.DataTable();
                                    containerProgrammingLanguagesChartData.addColumn('string', 'Category');
                                    containerProgrammingLanguagesChartData.addColumn('number', 'Containers');
                                    containerProgrammingLanguagesChartData.addRows([[${containerProgrammingLanguagesChartData}]]);

                                    var containerProgrammingLanguagesChart = new google.visualization.PieChart(document.getElementById('container-programming-languages-chart'));
                                    containerProgrammingLanguagesChart.draw(containerProgrammingLanguagesChartData, options);

                                    var containerCategoriesChartData = new google.visualization.DataTable();
                                    containerCategoriesChartData.addColumn('string', 'Category');
                                    containerCategoriesChartData.addColumn('number', 'Containers');
                                    containerCategoriesChartData.addRows([[${containerCategoriesChartData}]]);

                                    var containerCategoriesChart = new google.visualization.PieChart(document.getElementById('container-category-chart'));
                                    containerCategoriesChart.draw(containerCategoriesChartData, options);

                                    var containerCompatibilityChartData = new google.visualization.DataTable();
                                    containerCompatibilityChartData.addColumn('string', 'Compatibility');
                                    containerCompatibilityChartData.addColumn('number', 'Containers');
                                    containerCompatibilityChartData.addRows([[${containerCompatibilityChartData}]]);

                                    var containerCompatibilityChart = new google.visualization.PieChart(document.getElementById('container-compatibility-chart'));
                                    containerCompatibilityChart.draw(containerCompatibilityChartData, options);
                                }
                            </script>
                            <script type="text/javascript" th:inline="javascript">
                                function adjustColumnsWithClass(cssClass) {
                                    const imageColumns = document.querySelectorAll(cssClass);
                                    const maxWidth = Math.max(...Array.from(imageColumns).map(c => c.offsetWidth));
                                    imageColumns.forEach(c => c.style.width = `${maxWidth}px`);
                                }

                                function adjustTable() {
                                    adjustColumnsWithClass(".images-column");
                                    adjustColumnsWithClass(".software-column");
                                    adjustColumnsWithClass(".category-column");
                                }

                                adjustTable();
                                window.addEventListener("resize", adjustTable);
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    let scrollPosition = {x: 0, y:0};

    document.body.addEventListener("htmx:beforeRequest", (event) => {
        var contentContainer = document.getElementById("analysis-content");
        scrollPosition.x = contentContainer.scrollLeft;
        scrollPosition.y = contentContainer.scrollTop;
    });

    document.body.addEventListener("htmx:afterSettle", (event) => {
        var contentContainer = document.getElementById("analysis-content");
        contentContainer.scrollTo(scrollPosition.x, scrollPosition.y);
    });

</script>
</body>
</html>